<form id="checkList" class="source-list" method="post">
	{{#each source}}
		{{> feedListItem sourceName = this.feedName sourceURL = this.feedURL}}
	{{/each}}
	<input type="submit" value="Submit">
</form>

