<header>     
      <a href="#"><h1 class="site-title"><i class="fas fa-rss"></i> URSS</h1></a>
</header>

<nav class="navbar">
        <div class="nav-buttons">
          <button type="button" class="navbar-button"><a href="#">Home</a></button>
          <button type="button" class="navbar-button"><a href="#">About</a></button>          
        </div>
</nav>
