<div id="modal-backdrop" class="hidden"></div>


<div id="edit-feeds-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Edit your feeds</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
    
	  
    </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Accept Changes</button>
    </div>

  </div>
</div>