<form id="text-input" class="url-text"> 
	Create a custom feed: <input type="text" class="url-text-input name="urlText"> <br>
	(Input a url ending to access your custom feed at <i>eg. localhost:3000/yourfeedname</i>)
</form>

