<main class="feed-container">
		<h1>Your Feed</h1>		
		{{#each feeds}}
			{{#if title}}
				{{> feeditem itemLink = link itemTitle = title itemDate = pubdate itemContent = summary itemImage = image.url itemAuthor = author}}
			{{/if}}
		{{/each}}
</main>
