<main class="feed-container">
		{{#if home}} <h1>Default Feed (Reuters, Nasa, Wired, PBS, NYTimes:Sports, Puppies)</h1>{{/if}}	
		{{#unless home}} <h1> Your Feed </h1> {{/unless}}
		{{#each feeds}}
			{{#if title}}
				{{> feeditem itemLink = link itemTitle = title itemDate = pubdate itemContent = summary itemAuthor = author imageUrl = image.url}}
			{{/if}}
		{{/each}}
</main>
