<main class="feed-container">
		{{> feeditem itemLink = "https://www.google.com" itemTitle = "News Story" itemDate = "6-13-18" itemContent = "This is a story on the news." itemAuthor = "nobody"}}

</main>
