body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
  background-color: #eee;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #ffa500;
  color: #fff;
}

.navbar {
  background-color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 100;
}

.nav-buttons {
  
  display: inline-block;
}




.nav-buttons button {
  background: none;  
  border: none;   
  margin: 0 0 0 20px;
  padding: 0;  
}

button:hover{
	background: #ffcc6e;
}

a {
  color: #343434;
}

a:hover,
a:focus {
  color: #ffa500;
}

a:focus {
  outline: none;
}

.navbar-button a {
  padding: 8px 10px;
  display: inline-block;
}

.navbar-button.active {
  color: #ffcc6e;
}

.url-text{
	margin: 50px 0 0 20px;
	
	padding-bottom: 20px;
}

.feed-container h1{
	padding-left: 25px;
	size: 75%;
}

.feed-text{
	margin: 50px 0 0 20px;
	
	padding-bottom: 20px;
}

.feed-item{
	padding: 5px 20px 5px 20px;
	margin: 20px 20px 0px 20px;
	background: #fff;
	border: 2px solid black;
	border-radius: 3px;
}
